html {
  background-color: black;
  border-top-color: black;
  border: 10px solid;
}
body {
  background-color: aqua;
}
.assignment-card{
  background-color: azure;
}
.optional{
  margin-top: 10px;
  margin-block: 10px;
}
.h1{
  padding-top: 20px;
}

@media (max-width:500px){
}
