$space: 24px; // nickname which can be used all through the scss page its basically a number that is assigned to $space

h1{
  text-align: center; //Centers the text to the middle of the page
}

.row {
  display: grid;
  gap: $space; //creates a gap with $space amount which would be 24px
  margin-bottom: $space;
  justify-content: center; //Takes the content and centers it to the page
}

.assignment-card {
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);


  h3 {
    margin-top: 0;
    color: #2563eb;
  }

  p {
    color: #475569;

    strong {
      color: #0f172a;
    }
  }
}

@media (max-width: 768px){
  .row{
    grid-template-columns: 1fr; //makes it when on a mobile device it should make it a single column
    gap: 12px;
  }
}
