$space: 24px;

h1{
  text-align: center;
}

.row {
  display: grid;
  gap: $space;
  margin-bottom: $space;
  justify-content: center;
}

.assignment-card {
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);


  h3 {
    margin-top: 0;
    color: #2563eb;
  }

  p {
    color: #475569;

    strong {
      color: #0f172a;
    }
  }
}
