<h1>WEAPON LIST</h1>
<div class="row">
  @for (weapon of weaponList; track weapon.id){
    <div class="col3">
    <div class = "assignment-card">
      <h3> {{ weapon.name }} </h3>
      <p> ID Number: {{ weapon.id }}
      <p> <strong>Damage:</strong> {{ weapon.damage}}</p>
      <p> <strong>Rarity:</strong> {{ weapon.rarity}}</p>
      <p> <strong>Class Of Item:</strong> {{ weapon.class }}</p>
    @if (weapon.realItem) {
      <p> <strong>Real Item:</strong> {{ weapon.realItem}}</p>
    }
    </div>
    </div>
} @empty {
    <p>This is currently empty at the moment</p>
  }
</div>

